.box-modale {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.background-modale {
  background-color: black;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.hide {
  display: none;
  opacity: 0;
}

.modale {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  height: 620px;
  width: 600px;
  opacity: 1;
  z-index: 2;
}

.fa-arrow-left,
.fa-xmark {
  position: absolute;
  font-size: 25px;
  top: 20px;
}
.fa-arrow-left {
  left: 20px;
}
.fa-xmark {
  right: 20px;
}

.modale-title,
.modale-gallery,
.modale hr,
.modale button {
  margin: 20px;
}

.modale-title {
  margin-top: 30px;
  color: black;
}

.modale-gallery {
  height: 350px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.errorSubmit {
  color: red;
}

.modale-gallery figure {
  width: 70px;
  height: 100px;
  margin: 5px;
}

.modale-gallery figure img {
  width: 100%;
}

.modale-gallery figure i {
  border-radius: 3px;
  position: relative;
  top: -90px;
  left: 48px;
  color: white;
  background-color: black;
  padding: 4px;
  font-size: 10px;
}

.modale hr {
  width: 400px;
  border-width: 1px 0px 0px 0px;
  color: rgb(243, 235, 235);
}

.modale button {
  font-size: large;
  border-radius: 20px;
  border: none;
  width: 170px;
  height: 40px;
}

.add-picture {
  background-color: #1d6154;
  color: white;
}
.add-picture:hover {
  background-color: #0e2f28;
}

.picture {
  border-radius: 5px;
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 220px;
}

.picture i {
  font-size: 100px;
  left: 0px;
  margin: 10px 0px 5px 0px;
  color: #b9c5cc;
}

.picture p {
  margin-top: 10px;
}

.fakeBtn {
  position: relative;
  border-radius: 20px;
  width: 200px;
  height: 45px;
  background-color: #cbd6dc;
  color: #306685;
  margin: 10px;
}

.fakeBtn span {
  position: absolute;
  left: 35px;
  top: 14px;
  font-size: 16px;
}

.fakeBtn .addPictBtn {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
}

.fakeBtn .addPictBtnNew {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  height: 250px;
  width: 400px;
  left: -100px;
  top: -130px;
}

.box-new-picture {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 400px;
  background-color: #e8f1f6;
  z-index: 2;
}

.box-new-picture img {
  position: relative;
  z-index: 2;
}

.pictureShow {
  display: block;
  height: 220px;
}

.title,
.category {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

label {
  color: #3d3d3d;
}

input,
select {
  margin-top: 5px;
  height: 40px;
  width: 400px;
  border: none;
  box-shadow: 2px 2px 4px rgb(206, 204, 204);
  background-color: white;
}

select {
  width: 404px;
}

.valid-picture {
  background-color: #a7a7a7;
  color: white;
}
